/*
This CSS file overrides much of Extjs's styling but only functions in addition
to the standard extjs CSS and images.

The images found in this packages are explicit overrides, all other images are 
default.
*/

.x-panel {
    border-style: solid;
    border-color: #72665c;
}
.x-panel-header {
    color: white;
	border: 1px solid #72665c;
	border-bottom: none;
	background-color: #264390;
    background-image: none;
}

.x-panel-body {
    border-color:#72665c;
	background-color: #c6bab6;
}

.x-panel-bbar .x-toolbar {
    border-color:#72665c;
}

.x-panel-tbar .x-toolbar {
    border-color:#72665c;
}

.x-panel-tbar-noheader .x-toolbar, .x-panel-mc .x-panel-tbar .x-toolbar {
    border-color:#72665c;
}
.x-panel-body-noheader, .x-panel-mc .x-panel-body {
    border-color:#72665c;
}
.x-panel-tl .x-panel-header {
    color:#333;
}
.x-panel-tc {
	background-image: none;
}
.x-panel-tl {
	background-image: none;
    border-color:#72665c;
}
.x-panel-tr {
	background-image: none;
}
.x-panel-bc {
	background-image: none;
}
.x-panel-bl {
	background-image: none;
}
.x-panel-br {
	background-image: none;
}
.x-panel-mc {
    background:#f1f1f1;
}
.x-panel-mc .x-panel-body {
    background:transparent;
}
.x-panel-ml {
	background-image: none;
}
.x-panel-mr {
	background-image: none;
}

/* Tools */
.x-tool {
    background-image:url(images/panel/tool-sprites.gif);
}

.x-tool-minimize {
    background-image:url(images/map/layer-switcher-minimize.png) !important;
    background-position: 0 0;
    height: 16px;
    width: 16px;
}

.x-tool-minimize-over {
    background-image:url(images/map/layer-switcher-minimize.png) !important;
    background-position: 0 0;
    height: 16px;
    width: 16px;
}


.x-tool-help {
    background-image:url(images/panel/question.gif) !important;
    background-position: 0 0;
}

.x-tool-help-over {
    background-image:url(images/panel/question.gif) !important;
    background-position: 0 0;
}

.x-tool-info {
	background-image: url(images/panel/i_bubble.gif) !important;
    background-position: 0 0;
    height: 18px;
    width: 18px;
    padding: 0;
    margin: 0 !important;
}

.x-tool-info-over {background-position:-15px 0 !important;
    background-position: 0 0;
    height: 18px;
    width: 18px;
    padding: 0;
    margin: 0 !important;
}

.x-tool-eye {
    background-image:url(images/panel/eye.gif) !important;
    background-position: 0 0;
    height: 18px;
    width: 18px;
    padding: 0;
    margin: 0 !important;
}

.x-tool-eye-over {
    background-image:url(images/panel/eye.gif) !important;
    background-position: 0 0;
    height: 18px;
    width: 18px;
    padding: 0;
    margin: 0 !important;
}

.x-tool-restore {
    background-image:url(images/panel/min.gif) !important;
    background-position: 0 0;
    height: 18px;
    width: 18px;
    padding: 0;
    margin: 0 !important;
}

.x-tool-restore-over {
    background-image:url(images/panel/min.gif) !important;
    background-position: 0 0;
    height: 18px;
    width: 18px;
    padding: 0;
    margin: 0 !important;
}

.x-tool-maximize {
    background-image:url(images/panel/max.gif) !important;
    background-position: 0 0;
    height: 18px;
    width: 18px;
    padding: 0;
    margin: 0 !important;
}

.x-tool-maximize-over {
    background-image:url(images/panel/max.gif) !important;
    background-position: 0 0;
    height: 18px;
    width: 18px;
    padding: 0;
    margin: 0 !important;
}

.x-tool-close {
    background-image:url(images/panel/x_brown.gif) !important;
    background-position: 0 0;
}

.x-tool-close-over {
    background-image:url(images/panel/x_brown.gif) !important;
    background-position: 0 0;
}

/* Ghosting */
.x-panel-ghost {
    background:#72665c;
}

.x-panel-ghost ul {
    border-color:#b0b0b0;
}

/* Buttons */
.x-btn-left{
	background-image:url(images/button/btn-sprite.gif);
}
.x-btn-right{
	background-image:url(images/button/btn-sprite.gif);
}
.x-btn-center{
	background-image:url(images/button/btn-sprite.gif);
}

/* Layout classes */

.x-border-layout-ct {
    background:#f0f0f0;
}

.x-accordion-hd {
	background-color: #224190;
	background-image: none;
	border: none;
	border-top: solid 3px #c6bab6; 
}

.x-accordion-hd .x-panel-header-text {
	margin-left: 5px;
}

.x-accordion-hd .x-tool {
	background-image: url("images/panel/chevrons.gif");
	float: left;
}

.x-accordion-hd .x-tool-toggle {
	background-image: url("images/panel/chevrons.gif");
    background-position: -15px 0px;
}

.x-panel-collapsed .x-accordion-hd .x-tool-toggle {
	background-image: url("images/panel/chevrons.gif");
    background-position: 0 0px;
}

#filter-reset-button {
	background-image: url("images/panel/carrow.png");
	background-repeat: no-repeat;
	float: right;
	display: block;
	width: 20px;
}

.ngwmn-subfilter .x-accordion-hd {
	background-color: #72665c;
}

.x-layout-collapsed{
    background-color:#72665c;
    border-color:#72665c;
}
.x-layout-collapsed-over{
	 background-color:#72665c;
}

/* Toolbars */
.x-toolbar{
	border-color:#c6bab6;
    background-color: #c6bab6;
    background-image: none;
}
.x-toolbar button {
    color:#444;
}
.x-toolbar .x-btn-menu-arrow-wrap .x-btn-center button {
    background-image: none;
}
.x-toolbar .x-btn-text-icon .x-btn-menu-arrow-wrap .x-btn-center button {
    background-image: none;
}
.x-toolbar .x-btn-over .x-btn-left{
	background-image: none;
}
.x-toolbar .x-btn-over .x-btn-right{
	background-image: none;
}
.x-toolbar .x-btn-over .x-btn-center{
	background-image: none;
}
.x-toolbar .x-btn-over button {
    color:#111;
}
.x-toolbar .x-btn-click .x-btn-left, .x-toolbar .x-btn-pressed .x-btn-left, .x-toolbar .x-btn-menu-active .x-btn-left{
	background-image: none;
}
.x-toolbar .x-btn-click .x-btn-right, .x-toolbar .x-btn-pressed .x-btn-right, .x-toolbar .x-btn-menu-active .x-btn-right{
	background-image: none;
}

.x-toolbar .x-btn-click .x-btn-center, .x-toolbar .x-btn-pressed .x-btn-center, .x-toolbar .x-btn-menu-active .x-btn-center{
	background-image: none;
}
.x-toolbar .ytb-sep {
	background-image: none;
}

/* Tabs */
.x-tab-panel-header {
	border-color:#b5aaa4;
	padding: 0px !important;
}

.x-tab-panel-footer {
	border-color:#c6bab6;
	border-bottom: #c6bab6 !important;
}

ul.x-tab-strip-top{
	background:#72665C; 
	border-color:#c6bab6;
    padding-top: 0px;
}

ul.x-tab-strip-bottom{
	border-color:#c6bab6;
}

.x-tab-strip span.x-tab-strip-text {
	color:#EFEFEF;
	font-weight: bold;
}
.x-tab-strip-over span.x-tab-strip-text {
	color:#FFFFFF;
}

.x-tab-strip-active span.x-tab-strip-text {
	color:white;
	background-color: #f3755e;
}

.x-tab-strip-top .x-tab-strip-active .x-tab-left {
	background-color: #f3755e;
}

.x-tab-strip-top .x-tab-strip-active .x-tab-right {
	background-color: #f3755e;
}

.x-tab-strip-disabled .x-tabs-text {
	color:#111111;
}

.x-tab-strip-top .x-tab-right {
	background-image: none;
	background-color: #72665C;
}

.x-tab-strip-top .x-tab-left {
	background-image: none;
	background-color: #72665C;
}
.x-tab-strip-top .x-tab-strip-inner {
	background-image: none;
	background-color: #72665C;
}

.x-tab-strip-bottom .x-tab-right {
	background-image: none;
	background-color: #72665C;
}

.x-tab-strip-bottom .x-tab-left {
	background-image: none;
	background-color: #72665C;
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-right {
	background-image: none;
	background-color: #f3755e;
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-left {
	background-image: none;
	background-color: #f3755e;
}


ul.x-tab-strip li {
	border: none;
	border-right: 1px solid #C6BAB6;
    margin-left: 0px;
}

.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close {
	background-image: none;
	background-color: #72665C;
}
.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close:hover{
	background-image: none;
	background-color: #72665C;
}

 .x-tab-strip-active {
	background-color: #f3755e;
	border: 1px solid #C6BAB6;
 }
 
 .x-tab-strip {
	border: 1px solid #C6BAB6;
 }

.x-tab-panel-body {
    border-color:red;
    background:#fff;
}
.x-tab-panel-bbar .x-toolbar {
    border-color: #FFFFFF;
}

.x-tab-panel-tbar .x-toolbar {
    border-color: #FFFFFF;
}

.x-tab-panel-header-plain .x-tab-strip-spacer {
    border-color: red;
    background: #c6bab6;
}

.x-tab-panel-body {
	border: solid 1px #C5B9B5;
}

.x-tab-panel .x-panel-body {
	background: #e8e0dd;
}

/* Window */

.x-window-proxy {
    background:#72665c;
    border-color:#b0b0b0;
}

.x-window-tl .x-window-header {
    color:#FFF;
}
.x-window-tc {
	background-image: none;
	background-color: #264390;
}
.x-window-tl {
	background-image: none;
	background-color: #264390;
}
.x-window-tr {
	background-image: none;
	background-color: #264390;
}
.x-window-bc {
	background-image: none;
	background-color: #c6bab6;
}
.x-window-bl {
	background-image: none;
	background-color: #c6bab6;
}
.x-window-br {
	background-image: none;
	background-color: #c6bab6;
}
.x-window-mc {
    border:1px solid #c6bab6;
    background:#e8e8e8;    
    font: 11px calibri,tahoma,arial,helvetica,sans-serif;
}

.x-window-ml {
	background-image: none;
	background-color: #c6bab6;
}
.x-window-mr {
	background-image: none;
	background-color: #c6bab6;
}
.x-panel-ghost .x-window-tl {
    border-color:#72665c;
}
.x-panel-collapsed .x-window-tl {
    border-color:#72665c;
}

.x-window-body {
    background-color: #C6BAB6;
}

.x-window-plain .x-window-mc {
    background: #e8e8e8;
    border-right:1px solid #72665c;
    border-bottom:1px solid #72665c;
    border-top:1px solid #72665c;
    border-left:1px solid #72665c;
}

.x-window {
    border: 1px solid #72665c;
}

.x-window-plain .x-window-body {
    border-left:1px solid #72665c;
    border-top:1px solid #72665c;
    border-bottom:1px solid #72665c;
    border-right:1px solid #72665c;
    background:transparent !important;
}

.x-window-dlg .ext-mb-warning {
    background-image: url("images/icons/icon-warning.gif");
}
.x-window-dlg .ext-mb-error {
    background-image: url("images/icons/icon-error.gif");
}
.x-window-dlg .ext-mb-question {
    background-image: url("images/icons/icon-question.gif");
}
.x-window-dlg .ext-mb-info {
    background-image: url("images/icons/icon-info.gif");
}


body.x-body-masked .x-window-mc, body.x-body-masked .x-window-plain .x-window-mc {
    background-color: #c6bab6;
}

/* buttons*/
.x-btn {
	background-color: #264390;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.x-btn-text {
	background-color: transparent;
}
.x-btn-over {
	background-color: #00008b;
}
.x-btn-click .x-btn-text
{
    color: #ddd;
	background-color: tranparent;
}
.x-btn-tc {
	background-image: none;
	background-color: tranparent;
}
.x-btn-tl {
	background-image: none;
	background-color: tranparent;
}
.x-btn-tr {
	background-image: none;
	background-color: tranparent;
}
.x-btn-bc {
	background-image: none;
	background-color: tranparent;
}
.x-btn-bl {
	background-image: none;
	background-color: tranparent;
}
.x-btn-br {
	background-image: none;
	background-color: tranparent;
}
.x-btn-mc {
    border:1px solid tranparent;
    background: transparent;
}
.x-btn-ml {
	background-image: none;
	background-color: tranparent;
}
.x-btn-mr {
	background-image: none;
	background-color: tranparent;
}
.x-btn button {
    color: white;
    font: 11px calibri,arial,tahoma,verdana,helvetica;
}

/* misc */
.x-html-editor-wrap {
    border-color:#72665c;
}

/* Borders go last for specificity */
.x-panel-noborder .x-panel-body-noborder {
    border-width:0;
}

.x-panel-noborder .x-panel-header-noborder {
    border-width:0;
    border-bottom:1px solid #72665c;
	border-top: solid 3px #c6bab6; 
}

.x-panel-noborder .x-panel-tbar-noborder .x-toolbar {
    border-width:0;
    border-bottom:1px solid #72665c;
}

.x-panel-noborder .x-panel-bbar-noborder .x-toolbar {
    border-width:0;
    border-top:1px solid #72665c;
}

.x-window-noborder .x-window-mc {
    border-width:0;
}
.x-window-plain .x-window-body-noborder {
    border-width:0;
}

.x-tab-panel-noborder .x-tab-panel-body-noborder {
	border-width:0;
}

.x-tab-panel-noborder .x-tab-panel-header-noborder {
	border-top-width:0;
	border-left-width:0;
	border-right-width:0;
}

.x-tab-panel-noborder .x-tab-panel-footer-noborder {
	border-bottom-width:0;
	border-left-width:0;
	border-right-width:0;
}


.x-tab-panel-bbar-noborder .x-toolbar {
    border-width:0;
    border-top:1px solid #72665c;
}

.x-tab-panel-tbar-noborder .x-toolbar {
    border-width:0;
    border-bottom:1px solid #72665c;
}


/* splitters*/
.x-layout-split {
    background-color: #72665c;
}

/* notify */
.x-ux-notify .x-window-bc {
	background-image: none;
	background-color: #264390;
}
.x-ux-notify .x-window-bl  {
	background-image: none;
	background-color: #264390;
}
.x-ux-notify .x-window-br {
	background-image: none;
	background-color: #264390;
}
.x-ux-notify .x-window-mc  {
    border:1px solid #264390;
    background:#e8e8e8;
}

.x-ux-notify .x-window-ml {
	background-image: none;
	background-color: #264390;
}
.x-ux-notify .x-window-mr {
	background-image: none;
	background-color: #264390;
}

.x-ux-notify .x-window-body {
	background-color: #c6bab6;
}

.x-window-bbar .x-toolbar {
    border-top-color: #c6bab6;
    background-color: #c6bab6;
}


.x-window-body .ext-el-mask {
	background-color: #C6BAB6 !important;
}

/* grids */
.x-grid-panel .x-panel-mc .x-panel-body {
    border:1px solid #72665c;
}

.x-grid3-scroller {
	background-color: #c6bab6;
}

.x-grid3-row {
	margin-top: 2px;
	background-color: #efefef;;
	border-color: #9b897f;
}

.x-grid3-row-selected {
	border: solid 2px #9b897f;
	background-color: #e9e0de !important;
}

.x-grid3-header {
    background-color: #72665C;
    background-image: none;
    border: 0px solid #72665C;
    color: white;
}

.x-grid3-hd-row td {
    border: none;
}

.x-grid-empty {
    color: black;
}

.x-grid3-hd-btn {
    background-color: transparent;
    background-image: url("images/grid/grid3-hd-btn.gif");
}
.x-grid3-hd-inner {
	border-bottom: 3px solid #72665C;
	border-top: 3px solid #72665C;
	padding-bottom: 1px;
	padding-top: 1px;
}

td.x-grid3-hd-over .x-grid3-hd-inner, td.x-grid3-hd-menu-open .x-grid3-hd-inner  {
	border-bottom: 3px solid #CEE56A;
	border-top: 3px solid #CEE56A;
    background-color: #72665C;
    background-image: none;
}
td.sort-desc .x-grid3-hd-inner {
	/* border-bottom: 3px solid #CEE56A; */
	border-top: 3px solid #CEE56A;
    background-color: #72665C;
    background-image: none;
	
}
td.sort-asc .x-grid3-hd-inner {
	border-bottom: 3px solid #CEE56A;
	/* border-top: 3px solid #CEE56A; */
    background-color: #72665C;
    background-image: none;	
}


.x-grid3-sort-icon {
    background-repeat: no-repeat;
    display: none;
    height: 8px;
    margin-left: 3px;
    vertical-align: middle;
    width: 12px;
    background-image: none;
}

.sort-asc .x-grid3-sort-icon {
    background-image: none;	
	/* background-image: url("images/grid/sort.gif"); */
	background-position: -12px 0 !important;
}

.sort-desc .x-grid3-sort-icon {
    background-image: none;	
	/* background-image: url("images/grid/sort.gif"); */
}


.ngwmn-data-on {
    background:no-repeat 0 0 url("images/map/site_dot.gif");
}


/* loading mask*/
.ext-el-mask-msg {
    background-color: #264390;
    background-image: none;
    border-color: #264390;
}

.ext-el-mask-msg div {
    background-color: #white;
    border-color: #264390;
}


/* fieldset */
.x-fieldset {
	padding: 5px !important;
}

/* multiselect */
.ux-mselect-selected {
    background: none repeat scroll 0 0 #e9e0de;
    border: 1px dotted #9b897f !important;
    cursor: pointer;
}

.ux-form-multiselect .x-fieldset {
	padding: 0px !important;
}

/* toggle button */
.ux-toggle-button {
    background-image: url("images/icons/icon-error.gif");
	background-position: 0px 0 !important;
	cursor: pointer;
}
.ux-toggle-button-checked {
	background-position:-80px 0 !important;
}

.x-toggle-button-wrap {
    line-height:18px;
    height: auto;
    width: 80px;
    text-align: center;
    text-wrap: unrestricted;
}

.x-toggle-button-label {
    position: relative;
}

.ux-toggle-button-water-level {
    background-image: url("images/icons/da_waterlevel.gif") !important;
}
.ux-toggle-button-water-quality {
    background-image: url("images/icons/da_waterquality.gif") !important;
}
.ux-toggle-button-well-log{
    background-image: url("images/icons/da_litho.gif") !important;
}
