<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
	version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">

	<display-name>NGWMN Map Client (formerly GWDP MAP){Owner: NB, JL Coder: IK, RH, PT}</display-name>
	<description>Client Application of the NGWMN (formerly GWDP)</description>
	
	<welcome-file-list>
        <welcome-file>splash.jsp</welcome-file>
    </welcome-file-list>

	<filter>
		<display-name>DownloadTokenFilter</display-name>
		<filter-name>DownloadTokenFilter</filter-name>
		<filter-class>gov.usgs.DownloadTokenFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>DownloadTokenFilter</filter-name>
		<servlet-name>ExportServlet</servlet-name>
	</filter-mapping>

	<servlet>
		<description>Retrieve site summary data</description>
			<servlet-name>IdentifyDataProxy</servlet-name>
			<servlet-class>gov.usgs.IdentifyDataProxy</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ExportServlet</servlet-name>
		<servlet-class>gov.usgs.ExportServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>DiagnoseServlet</servlet-name>
		<servlet-class>gov.usgs.DiagnoseServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SettingsServlet</servlet-name>
		<servlet-class>gov.usgs.SettingsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ContactService</display-name>
		<servlet-name>ContactService</servlet-name>
		<servlet-class>gov.usgs.ContactService</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>geoproxy</servlet-name>
		<servlet-class>gov.usgs.cida.proxy.AlternateProxyServlet</servlet-class>
		<init-param>
			<param-name>forward-url-param</param-name>
			<param-value>GWDP_Portal/geoserver-proxy-forward-url</param-value>
		</init-param>
	</servlet>
	
	<servlet>
        <servlet-name>metadata</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>metadata</servlet-name>
        <url-pattern>/metadata/*</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>geoproxy</servlet-name>
		<url-pattern>/geoserver/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>IdentifyDataProxy</servlet-name>
  		<url-pattern>/iddata</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ExportServlet</servlet-name>
  		<url-pattern>/export</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DiagnoseServlet</servlet-name>
		<url-pattern>/diagnose</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SettingsServlet</servlet-name>
		<url-pattern>/settings</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContactService</servlet-name>
		<url-pattern>/feedback/submit</url-pattern>
	</servlet-mapping>
		
	<session-config>
 		<session-timeout>30</session-timeout>
 	</session-config>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>
