<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">

<display-name>GW Data Portal Map {Owner: JRH, Coder: JRH}</display-name>
<description></description>

	<servlet>
		<servlet-name>MVServlet</servlet-name>
		<servlet-class>gov.usgs.MVServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>IdentifyServlet</servlet-name>
		<servlet-class>gov.usgs.IdentifyServlet</servlet-class>
	</servlet>
	
	<servlet>
	    <servlet-name>BBoxServlet</servlet-name>
	    <servlet-class>gov.usgs.BBoxServlet</servlet-class>
	</servlet>
	
	<servlet>
	    <servlet-name>IdentifyDataProxy</servlet-name>
	    <servlet-class>gov.usgs.IdentifyDataProxy</servlet-class>
	</servlet>
		
   <servlet-mapping>
   		<servlet-name>MVServlet</servlet-name>
  		<url-pattern>/mvwms</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
   		<servlet-name>IdentifyServlet</servlet-name>
  		<url-pattern>/identify</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
   		<servlet-name>BBoxServlet</servlet-name>
  		<url-pattern>/bbox</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
   		<servlet-name>IdentifyDataProxy</servlet-name>
  		<url-pattern>/iddata</url-pattern>
   </servlet-mapping>
   
  <session-config>
  	<session-timeout>30</session-timeout>
  </session-config>
  
  
  
   <security-constraint>
    <web-resource-collection>
        <web-resource-name>
            SecretProtection
        </web-resource-name>
		<url-pattern>/index.jsp</url-pattern>
        <http-method>GET</http-method>
        <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
        <role-name>gwdp</role-name>
    </auth-constraint>
  </security-constraint>
  
  <login-config>
      <auth-method>
          FORM       <!-- BASIC, DIGEST, FORM, CLIENT-CERT -->
      </auth-method>
      <form-login-config>  <!-- only useful for FORM -->
          <form-login-page>
              /login.jsp
          </form-login-page>
          <form-error-page>
              /login.jsp
          </form-error-page>
      </form-login-config>
  </login-config>

  <security-role>
      <role-name>gwdp</role-name>
  </security-role>
  
</web-app>
